
    <div class="board">
      <!-- Create squares with alternating colors -->
      <!-- For simplicity, using ASCII characters for the pieces -->
      <!-- You can replace these with Unicode characters as per your requirement -->
      <!-- White Pieces -->
      <div class="square white">♖</div>
      <div class="square black">♘</div>
      <div class="square white">♗</div>
      <div class="square black">♕</div>
      <div class="square white">♔</div>
      <div class="square black">♗</div>
      <div class="square white">♘</div>
      <div class="square black">♖</div>
      
      <div class="square black">♙</div>
      <div class="square white">♙</div>
      <div class="square black">♙</div>
      <div class="square white">♙</div>
      <div class="square black">♙</div>
      <div class="square white">♙</div>
      <div class="square black">♙</div>
      <div class="square white">♙</div>
      
      <!-- Empty squares for the middle rows -->
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      
      <!-- Black Pieces -->
      <div class="square black">♜</div>
      <div class="square white">♞</div>
      <div class="square black">♝</div>
      <div class="square white">♛</div>
      <div class="square black">♚</div>
      <div class="square white">♝</div>
      <div class="square black">♞</div>
      <div class="square white">♜</div>
    </div>

