<div class="container">
    <div class="row">
        <div class="col-6">
            <form #contactForm="ngForm" (ngSubmit)="contactForm.form.valid && OnSubmit()" novalidate>
                <div>
                    <label for="UserName">UserName</label>
                    <input type="text" name="UserName" required minlength="8" #UserName="ngModel"
                        [(ngModel)]="MyContact.UserName">
                </div>
                <!-- Error handling for userName -->
                <div *ngIf="!UserName.valid && (UserName.dirty && UserName.touched)" class="error">
                    <div *ngIf="UserName.errors?.['required']">
                        UserName is Required
                    </div>
                    <div *ngIf="UserName.errors?.['minlength']">
                        UserName minimum length is {{ UserName.errors?.['minlength'].requiredLength }}
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        class="form-control" #password="ngModel" [(ngModel)]="MyContact.password" />

                    <div *ngIf="!password?.valid && (password?.dirty && password?.touched)" class="error">
                        <div *ngIf="password.errors?.['required']">
                            Password is required.....
                        </div>
                        <div *ngIf="password.errors?.['pattern']">
                            Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" required [pattern]="MyContact.password" class="form-control" #confirmPassword="ngModel" [(ngModel)]="MyContact.confirm_password" />
                    <div *ngIf="!confirmPassword?.valid && (confirmPassword?.dirty && confirmPassword?.touched)" class="error">
                        <div *ngIf="confirmPassword.errors?.['required']">
                            confirm Password is required.....
                        </div>
                        <div *ngIf="confirmPassword.errors?.['pattern']">
                            Password doesn't match........
                        </div>
                    </div>
                </div>

                <br>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" required #email="ngModel" [(ngModel)]="MyContact.email">
                </div>
                <!-- Error handling for email -->
                <div *ngIf="!email.valid && (email.dirty || email.touched)" class="error">
                    <div *ngIf="email.errors?.['required']">
                        Email is Required
                    </div>
                    <div *ngIf="email.errors?.['email']">
                        Invalid Email Address
                    </div>
                </div>

                <div>
                    <label for="courses">Courses</label>
                    <div *ngFor="let course of MyContact.courses">
                        <input type="checkbox" name="courses" [(ngModel)]="course.selected"> {{ course.name }}
                    </div>
                </div>

                <div>
                    <label for="state">State</label>
                    <select name="state" [(ngModel)]="MyContact.state">
                        <option *ngFor="let state of MyContact.states" [value]="state">{{ state }}</option>
                    </select>
                </div>

                <div>
                    <label for="gender">Gender</label>
                    <input type="radio" value="male" name="gender" required #gender="ngModel"
                        [(ngModel)]="MyContact.gender">Male
                    <input type="radio" value="female" name="gender" required>Female
                </div>
                <!-- Error handling for gender -->
                <div *ngIf="!contactForm.controls['gender'].valid && (contactForm.controls['gender'].dirty || contactForm.controls['gender'].touched)"
                    class="error">
                    <div *ngIf="contactForm.controls['gender'].errors?.['required']">
                        Gender is Required
                    </div>
                </div>
                <p>
                    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
                </p>
                <!-- Display form validity -->
                <p>{{ contactForm.valid }}</p>
                <!-- Display form values -->
                <p>{{ contactForm.value | json }}</p>
            </form>
        </div>
    </div>
</div>
