<!-- <app-home></app-home> -->
<!-- <h2 >Aadarsh Jadhav inside app.component.html</h2>
<button type="button" class="btn btn-primary">Primary</button> -->

<!--DIRECTIVE DEMO-->
<!-- <app-directive-demo></app-directive-demo> -->

<!--ATTRIBUTE DEMO-->
<app-attribute-demo></app-attribute-demo>

<!--PIPE DEMO-->
<!-- <app-pipe-demo></app-pipe-demo> -->

<!--FORM DEMO-->
<!-- <app-form-demo></app-form-demo> -->

<!--PARENT COMPOPNENT-->
<!-- <app-parent></app-parent> -->

<!--MY FIRST SERVICE COMPONENET-->
<!-- <app-my-first-service></app-my-first-service> -->

<!-- MY HTTP CLIENT USE COMPONENT-->
<!-- <app-my-http-use></app-my-http-use> -->

<!-- MY HTTP CLIENT USE 2 COMPONENT-->
<!-- <app-my-http-use2></app-my-http-use2> -->

<!-- <ul>
    <li><a [routerLink]="['/Home']">Home</a></li>
    <li><a [routerLink]="['/Login']">Login</a></li> 
    <li><a [routerLink]="['/Data']">Data</a></li>
    <li><a [routerLink]="['/Emp']">Emplist</a></li>
    <li><a [routerLink]="['/Myhttpuse3']">Myhttpuse3</a></li>
    <li><a [routerLink]="['/UserData']">UserData</a></li>
    
    
    
</ul> -->

<!-- <app-emp-routs></app-emp-routs> -->

<!-- <router-outlet></router-outlet> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Form']">Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Data']">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Emp']">Emplist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Myhttpuse3']">Myhttpuse3Json</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/UserData']">UserData</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Movie']">Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/TemplateForm']">TemplateForm</a>
          </li>
        
          
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>


