<p>tribute works!</p>
<div class="custom-container">
    <h1>Tribute to Historical Figure</h1>
    <img src="/assets/Subhas_Chandra_Bose.jpg" alt="Historical Figure">
    <p class="caption">Caption for the image</p>
    
    <ul class="timeline">
      <li>
        <span>Birth:</span>
        <p>Date of Birth</p>
      </li>
      <li>
        <span>Education:</span>
        <p>Details of education</p>
      </li>
      <li>
        <span>Notable Achievements:</span>
        <p>Details of achievements</p>
      </li>
      <li>
        <span>Death:</span>
        <p>Date of Death</p>
      </li>
    </ul>
  </div>