<p>my-http-use3 works!</p>

<br><br>

<table>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>

        <tr *ngFor="let emp of user">
            <td>{{emp.id}}</td>
            <td>{{emp.fname}}</td>
            <td>{{emp.salary}}</td>
            <td><input type="button"  value="Edit" class="btn btn-warning" (click)="editEmp(emp)"> &nbsp;&nbsp;
            <input type="button"  value="Delete" class="btn btn-danger" (click)="deleteEmp(emp.id)"></td>
        </tr>
    </tbody>
</table>

<br><br>

<form [formGroup] = "empform" (ngSubmit)="saveDate_ts()">
    <label for="id">EmployeeID</label>
    <input type="text" placeholder="Employeeid" required class="form-control" formControlName="id" id="id">

    <label for="name">EmployeeName</label>
    <input type="text" placeholder="EmployeeName" required class="form-control" formControlName="fname" id="fname">

    <label for="Salary">Salary</label>
    <input type="text" placeholder="Salary" required class="form-control"  formControlName="salary" id="salary">&nbsp;<br>
    <input type="submit"  class="btn btn-success"  value="AddEmp">&nbsp;&nbsp;

    <input type="submit"  class="btn btn-light"  value="Update">&nbsp;&nbsp;
    <input type="button"  class="btn btn-primary" value="Cancel"  (click)="clearForm()">
</form>