<!-- <p>google works!</p> -->

<div class="topsearch-base">
    <div class="image-base">
        <img src="../assets/googlelogo_color_92x30dp.png">
        <input type="text" class="searchbar-custom">
    </div>
    <div class="list-results-base">
        <ul>
            <li><a href="#">Link 1</a></li><br><br>
            <p>A title or heading with the persons name 
                An image of the person 
                A caption for the image 
                A timeline of the persons life in the form of a list</p>
            
            <li><a href="#">Link 1</a></li><br><br>

            <p>A title or heading with the persons name 
                An image of the person 
                A caption for the image 
                A timeline of the persons life in the form of a list</p>

            <li><a href="#">Link 1</a></li><br><br>

            <p>A title or heading with the persons name 
                An image of the person 
                A caption for the image 
                A timeline of the persons life in the form of a list</p>

            <li><a href="#">Link 1</a></li><br><br>
            <p>A title or heading with the persons name 
                An image of the person 
                A caption for the image 
                A timeline of the persons life in the form of a list</p>

            <li><a href="#">Link 1</a></li><br><br>
            <p>A title or heading with the persons name 
                An image of the person 
                A caption for the image 
                A timeline of the persons life in the form of a list</p>

            <li><a href="#">Link 1</a></li><br><br>
            <p>A title or heading with the persons name 
                An image of the person 
                A caption for the image 
                A timeline of the persons life in the form of a list</p>
        </ul>
        
    </div>

</div>
